.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.inputContainer {
  width: 100%;
  height: 54px;
  padding: 6px 20px;

  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: 14px;
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-black-200);
}

.inputContainer:focus-within {
  border-color: var(--color-blue-300);
}

.inputContainer[data-status='error'] {
  border-color: var(--color-danger);
}

.inputContainer[data-status='disabled'] {
  background-color: var(--color-gray-100);
}

.inputStyle {
  flex: 1;
  width: 100%;
  height: 100%;

  border: none;
  outline: none;
  color: var(--color-gray-800);
  background-color: transparent;

  &:disabled {
    background-color: transparent;
    cursor: not-allowed;
  }

  ::placeholder {
    color: var(--color-gray-600);
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.errorMsg {
  color: var(--color-danger);
}
