.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  padding: 20px;
}

.mainSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.sideSection {
  display: none;
}

.title {
  width: 80%;
  height: 28px;
}
.tag {
  width: 45px;
  height: 20px;
  border-radius: 6px;
}
.descLine {
  width: 100%;
  height: 16px;
}
.imageBox {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 12px;
  margin-top: 8px;
}

@media (min-width: 1200px) {
  .wrapper {
    flex-direction: row;
    gap: 32px;
    padding: 28px 24px;
  }

  .mainSection {
    flex: 2;
  }

  .sideSection {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 24px;
    border-left: 1px solid #2c2c2e;
    padding-left: 24px;
  }

  .imageBox {
    width: 70%;
  }
}

/* 공통 요소 스타일 */
.row {
  display: flex;
  align-items: center;
  gap: 4px;
}
.label {
  width: 50px;
  height: 14px;
  margin-bottom: 8px;
}
.value {
  width: 120px;
  height: 20px;
}
.commentWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.comment {
  flex: 1;
  height: 36px;
  border-radius: 100px;
}
.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}
.btn {
  width: 28px;
  height: 28px;
  border-radius: 8px;
}
