.container {
  width: 100%;
  padding: 20px 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;

  background-color: var(--color-background);
}

.prevButton {
  display: flex;
  align-items: center;
  gap: 8px;

  font: var(--text-md-medium);
  color: var(--color-gray-600);
}

.contentWrapper {
  width: 284px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.deleteButton {
  width: 320px;
  padding: 16px 76px;

  background-color: var(--color-black-300);
  border: 1px solid var(--color-danger);
  border-radius: var(--radius-sm);

  font: var(--text-2lg-medium);
  color: var(--color-danger);
}

.deleteButton:hover {
  background-color: var(--color-danger);
  color: var(--color-white);
  opacity: 0.8;
}

.section {
  width: 100%;
  padding: 32px 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;

  background-color: var(--color-surface);
  border-radius: var(--radius-lg);
}

.title {
  font: var(--text-xl-bold);
  color: var(--color-gray-700);
}

.inputTitle {
  width: 100%;
}

.editTitleForm {
  gap: 24px;
  font: var(--text-lg-14-semibold);
}

.editButton {
  margin-top: 16px;
  border-radius: 8px;
  font: var(--text-lg-16-semibold);
}

@media (min-width: 768px) {
  .container {
    padding: 20px;
    gap: 34px;
  }

  .prevButton {
    font: var(--text-lg-16-medium);
  }

  .contentWrapper {
    width: 620px;
  }

  .title {
    font: var(--text-2xl-bold);
  }

  .editButton {
    font: var(--text-lg-16-semibold);
  }
}
