@import './reset.css';
@import 'react-datepicker/dist/react-datepicker.css';
@import './tokens.css';
@import './typography.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  appearance: none;
  background: none;
  border: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.custom-scrollbar {
  overflow-y: auto !important;
  scrollbar-gutter: stable both-edges;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-400);
  border-radius: 100px;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-300);
}
