.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/backgroundImg/login_bg.svg');
  background-size: cover;
  background-position: center;
}

.container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.container > * {
  position: relative;
  z-index: 1;
}

.formSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.placeholderBox {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 30px;
}

/* tablet */
@media (min-width: 768px) {
  .formSection {
    padding: 0 40px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .formSection {
    width: 50%;
    padding: 0 60px;
  }
}

.characterImg {
  display: none;
}

@media (min-width: 1200px) {
  .characterImg {
    display: block;
    position: fixed;
    pointer-events: none;

    width: clamp(200px, 20vw, 397px);
    height: auto;

    bottom: clamp(420px, calc(470px + (420 - 470) * ((100vw - 1200px) / (1920 - 1200))), 470px);

    left: clamp(-120px, calc(-120px + (-57.6 + 120) * ((100vw - 1200px) / (1920 - 1200))), -57.6px);
  }
}
