.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 520px;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.inputGroup {
  margin-bottom: 12px;
}

.inputGroup:last-of-type {
  margin-bottom: 40px;
}

.agreeWrapper {
  margin-bottom: 16px;
}

.agreeButton {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-gray-700);
  font: var(--text-lg-16-medium);
  padding: 0;
}

.submitButton {
  margin-bottom: 20px;
}

.submitButton:disabled {
  background-color: var(--color-primary-800);
  color: var(--color-primary-950);
}

.loginLink {
  text-align: center;
  font: var(--text-lg-16-medium);
  color: var(--color-gray-600);
}

.loginLink a {
  color: var(--color-gray-700);
}
