/* 모바일  */
.sideBar {
  display: none;
}

.logoWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.logoImg {
  width: 107px;
  height: 23px;
}

/* 태블릿 */
@media (min-width: 768px) {
  .sideBar {
    display: flex;
    width: 100%;
    min-width: 0;
    height: 100vh;
    padding-top: 14px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-black-100);
    border-right: 1px solid rgba(255, 255, 255, 0.06);
    color: var(--color-white);
  }
}

/* PC */
@media (min-width: 1200px) {
  .sideBar {
    width: 100%;
    padding-top: 18px;
  }

  .logoWrapper {
    padding: 0 28px;
  }

  .logoImg {
    width: 148px;
    height: 33px;
  }
}
