.sideBar {
  width: 340px;
  height: 100vh;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
}
