.headerWrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  height: 30px;
  width: 150px;
}

/* column */
.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.columnWrapper {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 14px;
  border-radius: 6px;
}

.columnText {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 20px;
  height: 20px;
}

.columnTitle {
  width: 100px;
  height: 20px;
}

.count {
  width: 16px;
  height: 16px;
}

@media (min-width: 1200px) {
  .headerWrapper {
    padding: 16px 50px;
  }

  .columnContainer {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 50px 20px 50px;
  }

  .columnWrapper {
    width: 330px;
  }
}
