.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.characterWrapper {
  margin-bottom: 40px;
}

.character {
  width: 256px;
  height: 223px;
}

.title {
  color: var(--color-white);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.description {
  color: var(--color-gray-600);
  font: var(--text-md-medium);
  line-height: 1.6;
  margin-bottom: 40px;
}

.buttonGroup {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.primaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  padding: 12 24px;
  border-radius: var(--radius-sm);
  background-color: var(--color-primary-500);
  color: var(--color-white);
  font: var(--text-lg-16-medium);
  cursor: pointer;
}

.primaryButton:hover {
  background-color: var(--color-primary-600);
}

.secondaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  padding: 12 24px;
  border-radius: var(--radius-sm);
  background-color: var(--color-gray-300);
  color: var(--color-white);
  font: var(--text-lg-16-medium);
  cursor: pointer;
}

.secondaryButton:hover {
  background-color: var(--color-gray-400);
}

@media (min-width: 768px) {
  .character {
    width: 311px;
    height: 271px;
  }

  .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .description {
    font: var(--text-lg-16-medium);
  }
}
