.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #684830;
}

.mainContent {
  display: flex;
  width: 100%;
  height: 100vh;
}

.formSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.illustrationSection {
  display: none;
}

.placeholderBox {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #d1d5db;
  border-radius: 30px;
}

/* tablet */
@media (min-width: 768px) {
  .formSection {
    padding: 0 40px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .formSection {
    width: 50%;
    padding: 0 60px;
  }

  .illustrationSection {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
  }
}